# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# (compile "git ls-files -i --exclude-standard")

code/admslibs
code/admslibs/*.*
code/osdilibs
code/osdilibs/*.*
test/*.vlog
code/playground/*.osdi
code/*/*/.libs
code/*/*.dat
code/*/*/*.*.prn
code/*/*/*.*.mt0
code/*/*/*.*.res
code/*/*/*.log
code/*/*/*.la
code/*/*/*.o
code/*/*/*.lo
code/*/*/*.C
code/*/*/*.h
code/*/*/*.xml
code/*/*/*.*.xml
code/*/*/*.*.adms
.headerstring*
.registerstring*
*.so
*.la
